* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #4b5c66;
}
.container {
  --light-color: #fff;
  height: 700px;
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 2em;
  /* position: fixed;
  bottom: 50px;
  right: 10px; */
}
.chat-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4a4a4a;
}

.title {
}
.chat-body {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
}
.chat-input {
}

#txtInput {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 18px 0 18px 45px;
  background: #7d3dcf;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.21);
  border-radius: 10px;
}


.user-message {
  padding: 21px 33px;
  background: #ffffff;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.14);
  width: max-content;
  border-radius: 10px;
  color: #4a4a4a;
  margin-top: 2em;
  margin-bottom: 2em;
  
}
.user-message::after{
  content: url(/img/pic1.svg);
  width: 1em;
  height: 1em;
  
}
.chatbot-message {
  padding: 21px 33px;
  color: #ffffff;
  background: #7d3dcf;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.21);
  align-self: flex-start;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.loader {
  display: flex;
  justify-content: center;
   align-items: center;
 
  background : #eee;
}
.loader > div {
  width: 20px;
  height: 20px;
  background: #8385aa;
  border-radius: 50%;
  margin : 3px;
  animation: loader 0.6s infinite alternate;
}
.loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes loader {
  to {
    opacity: 0.1;
    transform: translate(0, -20px);
    background : pink;
  }
}