.container {
    max-width: 375px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 812px;
}

.shadow {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -1px rgba(0, 0, 0, 0.2);

    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.nice-font {
    font-family: "Josefin Sans", sans-serif;
}

header {
    text-align: center;
}
h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4a4a4a;
}
main {
    padding: 10px;
    margin-bottom: 50px;
}

footer #command {
    bottom: 0;
    width: 100%;
    padding: 7px 7px;
    padding-right: 7px;
    margin-bottom: 5px;
    border-radius: 30px;
    border: 0.5px solid #9e9e9e50;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}

#command input {
    display: block;
}

#command input,
#command button {
    padding: 10px 15px;
    border: 0;
    outline: 0;
}

button {
    background-color: #1e88e5;
    color: #fff;
    border-radius: 20px;
    font-weight: 300;
    float: right;
}

.row {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

.chat {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 21px 33px;
    // display: flex;
    // flex-direction: column;
    background: #7D3DCF;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
}

.question {
    float: right;
    background-color: #1e88e5;
    color: #fff;
}

.answer {
}
