* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #bfcfd8;
}
body::-webkit-scrollbar-track {
  color: transparent;
}
.container {
  color: #fff;
  height: 56em;
  width: 29.6em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 2em;
}
.container::-webkit-scrollbar-track {
  visibility: hidden;
}
.chat-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #4a4a4a;
}
.list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-align: left;
  color: #420568;
  font-size: 13px;
  margin-bottom: 0.5em;
}
.list-item{
  margin-left: 0.5em;
  color: #97182f;
  font-size: 12px;
  text-align: center;
  width: 4em;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4a4a4a;
}
.chat-body {
  height: 35em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: auto;
  overflow-x: hidden;
}

#txtInput {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 18px 0 18px 45px;
  background: #7d3dcf;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.21);
  border-radius: 20px;
}
input[type="text"]{
  color: #ffffff;
}

.user-message {
  display: flex;
  align-items: center;
  padding: 21px 33px;
  background: #ffffff;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  color: #4a4a4a;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 4em;
}
.user-message::after {
  content: url(img/pic1.svg);
  width: 2em;
  height: 2em;
  position: relative;
  left: 6em;
}
.chatbot-message {
  display: flex;
  align-items: center;
  padding: 1.3em 2em 1.3em 0;
  color: #ffffff;
  background: #7d3dcf;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.21);
  align-self: flex-start;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 4em;
}
.chatbot-message::before {
  content: url(img/pic2.svg);
  width: 2em;
  height: 2em;
  position: relative;
  right: 3.5em;
}
.loader {
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7d3dcf;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  padding: 13px 20px;
  margin-bottom: 2em;
}
.loader > div {
  width: 10px;
  height: 10px;
  background: #dadadf;
  border-radius: 50%;
  margin: 1em 0.5em 0.5em 0;
  animation: loader 0.6s infinite alternate;
}
.loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes loader {
  to {
    opacity: 0.1;
    transform: translate(0, -20px);
  }
}
#loaderTyping {
  display: flex;
  align-items: baseline;
}
.loader-img {
  margin-right: 2em;
}
#dateTime {
  position: relative;
  right: 35%;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4a4a4a;
}
