.shadow {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.nice-font {
  font-family: "Josefin Sans", sans-serif;
}

header {
  text-align: center;
}

main {
  padding: 10px;
  margin-bottom: 50px;
}

footer #command {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 7px 7px;
  padding-right: 7px;
  margin-bottom: 5px;
  border-radius: 30px;
  border: 0.5px solid rgba(158, 158, 158, 0.3137254902);
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

#command input {
  display: block;
  width: 73%;
  float: left;
}

#command input, #command button {
  padding: 10px 15px;
  border: 0;
  outline: 0;
}

button {
  background-color: #1e88e5;
  color: #fff;
  border-radius: 20px;
  font-weight: 300;
  float: right;
}

.row {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.chat {
  border: 0;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 30px;
  color: #111;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.question {
  float: right;
  background-color: #1e88e5;
  color: #fff;
}