* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #bfcfd8;
}
body::-webkit-scrollbar-track{
  color: transparent;
}
.container {
  --light-color: #fff;
  height: 47.5em;
  width: 29.6em;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 2em;

}
.chat-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4a4a4a;
}

.title {
}
.chat-body {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
}
.chat-input {
}

#txtInput {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 18px 0 18px 45px;
  background: #7d3dcf;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.21);
  border-radius: 10px;
}

.user-message {
  display: flex;
  align-items: center;
  padding: 21px 33px;
  background: #ffffff;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  color: #4a4a4a;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 4em;
}
.user-message::after {
  content: url(img/pic1.svg);
  width: 2em;
  height: 2em;
  position: relative;
  left: 6em;
}
.chatbot-message {
  display: flex;
  align-items: center;
  padding: 21px 33px;
  color: #ffffff;
  background: #7d3dcf;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.21);
  align-self: flex-start;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 4em;
}
.chatbot-message::before {
  content: url(img/pic2.svg);
  width: 2em;
  height: 2em;
  position: relative;
  right: 6em;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7d3dcf;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  padding: 21px 33px;
  margin-bottom: 2em;
}
.loader > div {
  width: 20px;
  height: 20px;
  background: #dadadf;
  border-radius: 50%;
  margin: 0.6em 0.5em 0.5em 0;
  animation: loader 0.6s infinite alternate;
}
.loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes loader {
  to {
    opacity: 0.1;
    transform: translate(0, -20px);
  }
}
#loaderTyping{
  position: relative;
  top: 20em;
  display: flex;
  align-items: baseline;
}
.loader-img{
margin-right: 2em;
}